{% extends 'base.html.twig' %}
{% block content %}
    <div class="col-12">
        <h1>Formular de adaugare Articole</h1>
    </div>

    <div class="col-12">
    {{ form(form) }}
    </div>
{% endblock %}