<h1>{{ post.title }}</h1>
<p>
    {{ post.content }}
</p>

<a href='http://188.240.210.8/web-04/sfblog/public/index.php{{ path('post-action',{'id':post.id, 'name':post.title}) }}'>
    Read more
</a>

<a href="http://188.240.210.8/web-04/sfblog/public/index.php{{ path('unsubscribe',{'email':subscriber.email}) }}">Unsubscribe</a>