{% extends 'base.html.twig' %}
{% block content %}
<div class="col-9">

<div class="card mt-3">
    <h2>
        <a href="category.php?id={{ post.getCategory().getId() }}">
            {{ post.getCategory().getName()}}
        </a>
    </h2>
    <img class="card-img-top" src="images/{{ post.getPicture()}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ post.getTitle()}}</h5>
        <p class="card-text">{{ post.getContent()|raw}}</p>
    </div>

    <a href="postPDF.php?id={{ post.getId()}}">Varianta PDF</a>
    <a href="sendToEmail.php?id={{ post.getId()}}">Trimite email</a>
</div>
{% for comment in post.getComments() %}
    <div class="alert alert-success mt-3" role="alert">
        <span class="badge badge-primary">{{ comment.getUsername() }}:</span>
        "{{ comment.getContent() }}"
    </div>
{% endfor %}

</div>
{% endblock %}