<div class="card mt-3">
    <img class="card-img-top" src="images/{{ post.getPicture() }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ post.getTitle() }}</h5>
        <p class="card-text">{{ post.getContent()|raw }}</p>
        <a href="{{ url('post-action', {'id':post.getId(), 'name': post.getTitle()}) }}" class="btn btn-primary">Read more</a>
    </div>
</div>